---
import Layout from "@/layouts/Layout.astro";

import { Dashboard as ReactDashboard } from "@/dashboard/main.tsx";
---

<Layout title="" showFooter={false}>
  <main>
    <ReactDashboard client:only="react" />
  </main>
</Layout>
