<div class="flex flex-wrap my-32 max-w-7xl xl:flex-nowrap gap-16 xl:mx-auto p-8 items-start justify-between">
  <div class="prose max-w-prose prose-lg">
    <p class="text-3xl">
      You are being <span class="font-black">lied to.</span>
      <br /> And the <span id="liars" class="font-black"
        >liars are profiting</span
      > off of it.
    </p>
    <p class="mt-6">Web development doesn't need to be hard.</p>
    <p class="mt-6">
      With modern tooling and the right guidance building for the web is
      actually very simple. But there is money to be found in making you scared
      and conditioning you into learned helplessness.
    </p>
    <p>
      Large companies are investing heavily in making tech stacks obtuse,
      intimidating, and dependant on their infrastructure they assure you is too
      complex for you to even begin to understand.
    </p>
  </div>
  <div class="flex flex-col w-full">
    <div class="mockup-code">
      <pre
        data-prefix="$"
        class="text-secondary"><code>npm create astro@latest -- --template <span class="text-success">technomancy-dev/spellbook</span></code></pre>
      <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
      <pre data-prefix=">" class="text-success"><code>Time to Ship!</code></pre>
    </div>
    <div class="prose max-w-prose mt-12">
      <p class="text-3xl font-black">It's not just the companies</p>
      <p>
        Not only are their pockets deep enough to pay off every mustached
        influencer they can find, but their tentacles run wide.
      </p>
      <p>
        Many indiehackers have bought into <span
          id="complexity"
          class="text-xl font-black"
        >
          The ComplexityStack<span class="text-base font-normal align-super"
            >™</span
          >
        </span>
        and have profited off of promising to help you make sense of it.
      </p>
      <p>They prey on your insecurity and sell you hope.</p>
    </div>
  </div>
</div>

<script>
  import { annotate } from "rough-notation";

  const liars = document.querySelector<HTMLElement>("#liars");
  const complexity = document.querySelector<HTMLElement>("#complexity");

  const annotation = annotate(complexity, {
    type: "crossed-off",
    color: "#2B2836",
  });

  const annotation2 = annotate(liars, {
    type: "underline",
    color: "#F36A66",
  });

  annotation.show();
  annotation2.show();
</script>
