---
import Layout from "../layouts/Layout.astro";
---

<Layout showFooter={false} title="Welcome to Astro.">
  <main class="h-full grow grid">
    <div class="bg-base-200 h-full">hi</div>
  </main>
</Layout>
