---
import Layout from "../layouts/Layout.astro";
import { Github } from "lucide-react";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="hero bg-base-200 min-h-screen">
      <div
        class="hero-content w-full justify-between flex-col lg:flex-row-reverse"
      >
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now!</h1>
          <p class="py-6 max-w-prose">
            This is a minimal starter that sets up email & password login and a
            SPA dashboard.
          </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <div class="form-control">
            <button id="gh-login" class="btn btn-primary">
              <Github />
              Login with Github
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import pb from "../pocketbase";

  const gh_login = document.querySelector("#gh-login");

  gh_login.addEventListener("click", async () => {
    pb.authStore.clear();
    await pb.collection("users").authWithOAuth2({
      provider: "github",
    });
  });
</script>
