---
import CallToAciton from "../components/CallToAction";
import Layout from "../layouts/Layout.astro";
import { Github } from "lucide-react";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="hero bg-base-200 min-h-screen">
      <div
        class="hero-content w-full justify-between flex-col lg:flex-row-reverse"
      >
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold">Login now!</h1>
          <p class="py-6 max-w-prose">
            This is a minimal starter that sets up email & password login and a
            SPA dashboard.
          </p>
        </div>
        <CallToAciton client:only />
      </div>
    </div>
  </main>
</Layout>
