---
import { Sparkles } from "lucide-react";
import Bluesky from "@/components/logos/bluesky.astro";
import YouTube from "@/components/logos/youtube.astro";
---

<footer class="footer bg-base-100 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Links</h6>
    <a class="link link-hover">Blog</a>
    <a class="link link-hover">Sign in</a>
    <a class="link link-hover">Dashboard</a>
  </nav>
  <nav>
    <h6 class="footer-title">From the maker of Spellbook</h6>
    <a href="https://technomancy.dev/" target="_blank" class="link link-hover">Technomancy</a>
    <a href="https://astro.build/themes/details/the-technonomicon/" target="_blank" class="link link-hover">Technonomicon</a>
    <a href="https://double-zero.cloud/" target="_blank" class="link link-hover">Double-Zero</a>
  </nav>
</footer>
<footer
  class="footer bg-base-100 text-base-content border-base-300 border-t px-10 py-4"
>
  <aside class="grid-flow-col items-center">
    <Sparkles />
    <p>
      Spellbook
      <br />
      Saving the internet from itself.
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" href="https://bsky.app/profile/liltechnomancer.bsky.social">
        <Bluesky height="24" />
      </a>
      <a target="_blank" href="https://www.youtube.com/@liltechnomancer">
        <YouTube height="24" />
      </a>
    </div>
  </nav>
</footer>
