---
import Navigation from "../components/Navigation";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Navigation client:only="react" />
  <body>
    <slot />
  </body>
  <Footer />

  <script>
    import pb from "../pocketbase";
import { set_current_user } from "../stores/user";

    pb.authStore.onChange((token, model) => {
      set_current_user(model)
      console.log({ token, model });
      console.log(pb.authStore.isValid);
      console.log(pb.authStore.token);
      console.log(pb.authStore.model);
    }, true);
  </script>


</html>
