---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Navigation />
  <body>
    <slot />
  </body>
  <Footer />

  <script>
    import PocketBase from "pocketbase";

    const pb = new PocketBase("http://localhost:8080");

    // const authData = await pb.collection('users').authWithPassword('test', 'testtest');
    const authData = await pb.collection("users").authWithOAuth2({
      provider: "github",
    });
    console.log(pb.authStore.isValid);
    console.log(pb.authStore.token);
    console.log(pb.authStore.model);
    pb.authStore.clear();
  </script>

</html>
