---
import Navigation from "../components/Navigation";
import Footer from "../components/Footer.astro";
import NavigationActions from "../components/NavigationActions";
import { Toaster } from "react-hot-toast";

interface Props {
  title: string;
  showFooter?: boolean;
}

const { title, showFooter = true } = Astro.props;
---

<!doctype html>
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Navigation>
    <NavigationActions client:only="react" />
  </Navigation>
  <body class="grid">
    <Toaster client:only="react" />
    <slot />
  </body>
  {showFooter && <Footer />}

  <script>
    import { subscribe_user_to_auth_store } from "../stores/user";

    subscribe_user_to_auth_store();
  </script>

  <style is:global>
    body {
      @apply h-full flex flex-col;
    }
    main {
      /* @apply h-full flex flex-col; */
    }
  </style>


</html>
