---
import Navigation from "@/components/Navigation";
import Footer from "@/components/Footer.astro";
import NavigationActions from "@/components/NavigationActions";
import { Toaster } from "react-hot-toast";

interface Props {
  title: string;
  showFooter?: boolean;
}

const { title, showFooter = true } = Astro.props;
---

<!doctype html>
<html class="min-h-[100dvh] h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-[100dvh] flex flex-col">
  <Navigation>
    <NavigationActions client:only="react" />
  </Navigation>
    <Toaster client:only="react" />

    <slot />

    {showFooter && <Footer />}
  </body>

  <script>
    import pb from "@/pocketbase";
    import { $user } from "@/stores/user";
    import { subscribe_user_to_auth_store } from "@/stores/user";

    $user.set(pb.authStore.model);
    subscribe_user_to_auth_store();
  </script>

  <style is:global>
    html,
    body {
      @apply min-h-[100dvh];
    }
    body {
      @apply flex flex-col;
    }
    main {
      @apply flex-1 flex flex-col;
    }
  </style>
</html>
